[submodule "swqa"]
	path = swqa
	url = https://github.com/brandonbraun653/SWQA.git
[submodule "googletest/googletest"]
	path = googletest/googletest
	url = https://github.com/google/googletest.git
[submodule "cpputest"]
	path = cpputest
	url = https://github.com/brandonbraun653/cpputest.git
[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/bilke/cmake-modules.git
